// ================================================================
// BASELINE =======================================================
// ================================================================

// Variables

$baseline_div_color: rgb(0,0,0);
$baseline_div_alpha: 0.4;
$baseline_subdiv_color: rgb(0,0,0);
$baseline_subdiv_alpha: 0.1;

// Baseline Grid

body {
  position: relative
}

body:after {
  content: "";
  z-index: 999999; // Well...
  display: block;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background: none;
  background-repeat: repeat;
  background-image: repeating-linear-gradient(180deg,
    rgba($baseline_div_color,$baseline_div_alpha) 0px,
    rgba(0,0,0,0) 1px,
    rgba(0,0,0,0) ($baseline / 2 - 0.15),
    rgba($baseline_subdiv_color,$baseline_subdiv_alpha) $baseline / 2,
    rgba(0,0,0,0) ($baseline / 2 + 1),
    rgba(0,0,0,0) $baseline);
}

  body:active:after {

  }
